<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index - Secrets</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'secrets/css/secretsCss.css' %}" />
  </head>
  <body>
    <div class="container">

      <h1>Greetings! Secrets</h1>

      {% if messages %}
      {% for message in messages %}
      <p class="{{message.tags}}">
        {{message}}
      </p>
      {% endfor %}
      {% endif %}
      <form action="/process" method="post">
        {% csrf_token %}
        <label for="secret">Input your secret</label>
        <input type="text" name="secret" placeholder="Type your secret here" />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <h3>Recent secrets</h3>
      <!-- We look at all the secrets, one at a time -->
      {% for s in secrets %}
      <p>
        <!-- Display the secret's description -->
        {{s.description}} (5 minutes ago) {{s.num_likes}} likes
        <!-- Check if the creator of the secret is the same as the logged in user -->
        {% if s.creator == user %}
        <!-- If the creator and logged in user are the same, show "you posted this" and a delete button -->
        You posted this
        <a href="#">Delete</a>
        {% elif user not in s.likers.all %}
        <!-- If the creator and logged in user are not the same, and the logged in user is not currently in the secret's likers, show a like button -->
        <a href="/like/{{s.id}}">Like</a>
        {% else %}
        <!-- else, the user already liked this secret -->
        You liked this
        {% endif %}
      </p>


      {% endfor %}
    </div>








  </body>
</html>
